@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

#root {
  font-family: "Major Mono Display";
}

.glow {
  color: var(--color);
  filter: drop-shadow(0 0 1.5rem var(--color));
}

.shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25) !important;
}

.navbar, .form-label{
  font-size: 1.3rem;
}

.dark-mode, .form-control, .form-control:focus{
  background-color: #102027;
  border-color: #736b5e;
  color: #e8e6e3;
}

.dark-mode .navbar {
  background-color: #102027;
}
